In [ ]:
import pandas as pd

In [ ]:
ev_loc=pd.read_csv('/content/EV Maker by Place.csv')
ev_manu=pd.read_csv('/content/ev_cat_01-24.csv')
ev_sales=pd.read_csv('/content/ev_sales_by_makers_and_cat_15-24.csv')
ev_operation=pd.read_csv('/content/OperationalPC.csv')
ev_class=pd.read_csv('/content/Vehicle Class - All.csv')

**EV Adoption Trends:** Analyze the adoption rate of electric vehicles over the years. How has the demand for EVs changed over time?bold text

In [ ]:
print(ev_sales[['2015','2016','2017','2018','2019','2020','2021','2022','2023','2024']].sum())

2015       7752
2016      49249
2017      87019
2018     129763
2019     165786
2020     123770
2021     328854
2022    1020533
2023    1529234
2024     978943
dtype: int64

**Manufacturer Performance:** Compare the performance of different EV manufacturers. Which companies have the highest market share, and what factors contribute to their success?

In [ ]:
print(ev_sales.groupby('Maker')[['2015','2016','2017','2018','2019','2020','2021','2022','2023','2024']].sum())

                                                 2015  2016  2017  2018  2019  \
Maker
"VOLVO GROUP INDIA PVT LTD"                         0     0    31    12     0
3EV INDUSTRIES PVT LTD                              0     0     0     0     0
3GB TECHNOLOGY PVT LTD                              0     1     1     1     0
3S INDUSTRIES PRIVATE LIMITED                       0     0     0     0    51
A B EXCAVATORS & EARTHMOVER LTD                     0     1     0     0     0
...                                               ...   ...   ...   ...   ...
ZHEJIANG LUYUAN (IMPORTER: DYNAM EV TECH)           0     0     0     0     0
ZHEJIANG TIANYING  (IMPORTER: NEWTRON ELECTRIC)     0     0     0     0     0
ZHONGHUALONG (IMPORTER: POWORO PVT LTD)             0     0     0     0     0
ZHONGXING (IMPORTER:GREENO AUTOMOBILE)              0     0     0     0     0
ZOHAN TRADERS AND BIG METRO                         0     0     0     0     0

                                                 2020  2021  2022  2023  2024
Maker
"VOLVO GROUP INDIA PVT LTD"                         0     0     0     0     0
3EV INDUSTRIES PVT LTD                              0   112   390   545    51
3GB TECHNOLOGY PVT LTD                              0     0     0     0     0
3S INDUSTRIES PRIVATE LIMITED                      67    43    68   266   578
A B EXCAVATORS & EARTHMOVER LTD                     0     0     0     0     0
...                                               ...   ...   ...   ...   ...
ZHEJIANG LUYUAN (IMPORTER: DYNAM EV TECH)           0     0    21    45     9
ZHEJIANG TIANYING  (IMPORTER: NEWTRON ELECTRIC)     0     0     0    64     6
ZHONGHUALONG (IMPORTER: POWORO PVT LTD)             0     0     0     0    54
ZHONGXING (IMPORTER:GREENO AUTOMOBILE)              0     0     0     0     5
ZOHAN TRADERS AND BIG METRO                         0     0     5   131    74

[1196 rows x 10 columns]

**Price vs. Features:** Investigate the relationship between the price of EVs and their features. Is there a correlation between price and key attributes such as battery life, range, or charging time?

In [ ]:
ev_class.sort_values(by='Total Registration' ,ascending=False)

                      Vehicle Class Total Registration
7              MEDIUM GOODS VEHICLE           8,75,789
3           HEAVY PASSENGER VEHICLE           8,28,189
11                THREE WHEELER(NT)           6,79,804
5               LIGHT MOTOR VEHICLE        6,50,61,773
1               HEAVY GOODS VEHICLE          58,70,865
6           LIGHT PASSENGER VEHICLE          43,43,410
9          MEDIUM PASSENGER VEHICLE           3,25,015
14                  TWO WHEELER(NT)       27,49,71,646
0   FOUR WHEELER (INVALID CARRIAGE)             21,346
10       OTHER THAN MENTIONED ABOVE          11,26,398
8              MEDIUM MOTOR VEHICLE           1,94,600
15                   TWO WHEELER(T)           1,29,181
13   TWO WHEELER (INVALID CARRIAGE)           1,10,788
12                 THREE WHEELER(T)        1,07,08,473
2               HEAVY MOTOR VEHICLE           1,02,965
4               LIGHT GOODS VEHICLE        1,02,49,591

**Impact of Government Policies:** Explore the impact of government subsidies or regulations on the EV market. Have policy changes resulted in noticeable shifts in sales or adoption rates?

In [ ]:
print(ev_operation.sort_values(by='No. of Operational PCS',ascending=False).head(5))
print(ev_operation.sort_values(by='No. of Operational PCS',ascending=False).tail(5))

          State  No. of Operational PCS
19  Maharashtra                    3079
8         Delhi                    1886
15    Karnataka                    1041
16       Kerala                     852
28   Tamil Nadu                     643
                State  No. of Operational PCS
22           Nagaland                       6
0   Andaman & Nicobar                       3
27             Sikkim                       2
7         D&D and DNH                       1
17        Lakshadweep                       1

**Geographical Analysis:** Study how the demand for electric vehicles varies across different regions in India. Which regions are leading in EV adoption, and what might be the reasons behind this trend?

In [ ]:
print(ev_loc.groupby('State')['EV Maker'].count())

State
Andhra Pradesh     1
Delhi              4
Gujarat            5
Haryana            6
Karnataka          6
Madhya Pradesh     1
Maharashtra       15
Punjab             1
Rajasthan          4
Tamil Nadu        11
Telangana          3
Uttarakhand        2
West Bengal        3
Name: EV Maker, dtype: int64

                State  No. of Operational PCS
19        Maharashtra                    3079
8               Delhi                    1886
15          Karnataka                    1041
16             Kerala                     852
28         Tamil Nadu                     643
31      Uttar Pradesh                     582
26          Rajasthan                     500
29          Telangana                     481
10            Gujarat                     476
11            Haryana                     377
18     Madhya Pradesh                     341
1      Andhra Pradesh                     327
33        West Bengal                     318
23             Odisha                     198
25             Punjab                     158
6        Chhattisgarh                     149
14          Jharkhand                     135
4               Bihar                     124
9                 Goa                     113
3               Assam                      86
32        Uttarakhand                      76
13  Jammu and Kashmir                      47
12   Himachal Pradesh                      44
24        Pondicherry                      23
21          Meghalaya                      21
30            Tripura                      18
20            Manipur                      17
5          Chandigarh                      12
2   Arunachal Pradesh                       9
22           Nagaland                       6
0   Andaman & Nicobar                       3
27             Sikkim                       2
7         D&D and DNH                       1
17        Lakshadweep                       1

**Environmental Impact:** Analyze the potential environmental benefits of increasing EV adoption. What is the reduction in emissions or fuel consumption?

In [ ]:
print(ev_operation.sort_values(by='No. of Operational PCS',ascending=False))

                State  No. of Operational PCS
19        Maharashtra                    3079
8               Delhi                    1886
15          Karnataka                    1041
16             Kerala                     852
28         Tamil Nadu                     643
31      Uttar Pradesh                     582
26          Rajasthan                     500
29          Telangana                     481
10            Gujarat                     476
11            Haryana                     377
18     Madhya Pradesh                     341
1      Andhra Pradesh                     327
33        West Bengal                     318
23             Odisha                     198
25             Punjab                     158
6        Chhattisgarh                     149
14          Jharkhand                     135
4               Bihar                     124
9                 Goa                     113
3               Assam                      86
32        Uttarakhand                      76
13  Jammu and Kashmir                      47
12   Himachal Pradesh                      44
24        Pondicherry                      23
21          Meghalaya                      21
30            Tripura                      18
20            Manipur                      17
5          Chandigarh                      12
2   Arunachal Pradesh                       9
22           Nagaland                       6
0   Andaman & Nicobar                       3
27             Sikkim                       2
7         D&D and DNH                       1
17        Lakshadweep                       1